# 4.06 Task

## Table of Contents
1. Import Libraries + Data
2. Checking Dataframe Dimensions
3. Merge the Data Sets
4. Export the Data

# 01. Import Libraries + Data

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Importing Data
# path
path = r'/Users/alliecarlisle/Desktop/CareerFoundry_Data_Analytics/Instacart Basket Analysis'

In [4]:
# products_checked
df_prods_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [5]:
# order_products_combined
df_merged_large = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# 02. Checking Dataframe Dimensions

In [6]:
# check shape of df_merged_large
df_merged_large.shape

(30356421, 10)

In [7]:
# check dimensions of df_merged_large
df_merged_large.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,time_between_orders,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [8]:
# check dimensions of df_prods_clean
df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# drop unnamed column in df_prods_clean
df_prods_clean = df_prods_clean.drop(columns = ['Unnamed: 0'])

In [10]:
df_prods_clean.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_prods_clean.shape

(49672, 5)

# 03. Merge data sets

In [18]:
# perform the merge
df_ords_prods_merge = df_merged_large.merge(df_prods_clean, on = 'product_id', indicator = True)

In [19]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,time_between_orders,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
1,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
2,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
3,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both
4,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both

In [20]:
df_ords_prods_merge.shape

(30328763, 14)

In [23]:
# confirm results with merge flag 
df_ords_prods_merge['_merge'].value_counts()

both          30328763
left_only            0
right_only           0
Name: _merge, dtype: int64

# 04. Export the Data

In [22]:
# export as pickle file
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))