# 4.06 Task

## Table of Contents
1. Import Libraries + Data
2. Discover the Data
3. Merge the Data Sets
4. Export the Data

# 01. Import Libraries + Data

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Importing Data
# path
path = r'/Users/alliecarlisle/Desktop/CareerFoundry_Data_Analytics/Instacart Basket Analysis'

In [3]:
# df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [4]:
# df_ords
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

# 02. Discover the Data

In [5]:
# check dimensions of df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
# check dimensions of df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,time_between_orders
0,1,2398795,1,2,3,7,15.0
1,2,473747,1,3,3,12,21.0
2,3,2254736,1,4,4,7,29.0
3,4,431534,1,5,4,15,28.0
4,5,3367565,1,6,2,7,19.0

In [8]:
# drop unnamed column in orders_wrangled.csv
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [9]:
df_ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,time_between_orders
0,2398795,1,2,3,7,15.0
1,473747,1,3,3,12,21.0
2,2254736,1,4,4,7,29.0
3,431534,1,5,4,15,28.0
4,3367565,1,6,2,7,19.0

In [10]:
df_ords.shape

(3214874, 6)

# 03. Merge the data sets

In [11]:
# perform the merge
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,time_between_orders,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [13]:
# check for a dull match
df_merged_large['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

# 04. Export the Data

In [14]:
# export as pickle file
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [15]:
# export as csv
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))